apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-backend
spec:
  replicas: {{ .Values.backend.replicaCount | default 1 }}
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: "{{ .Values.backend.image.repository }}:{{ .Values.backend.image.tag }}"
          imagePullPolicy: {{ .Values.backend.image.pullPolicy | default "IfNotPresent" }}
          ports:
            - containerPort: {{ .Values.backend.service.targetPort | default 5000 }}
          # משתנה סביבה לכתובת DB
          env:
            - name: DB_HOST
              value: {{ .Values.config.DB_HOST | default "mysql" | quote }}
          # טעינת שאר הסודות (סיסמא וכו')
          envFrom:
            - secretRef:
                name: {{ .Values.env.secretName }}
          # הגדרות משאבים
          resources:
            {{- toYaml .Values.resources | nindent 12 }}