apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}-app
spec:
  selector:
    matchLabels:
      app: my-app
  template:
    metadata:
      labels:
        app: my-app
    spec:
    containers:
        - name: python-app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: {{ .Values.service.targetPort }}
          # 1. הוספת משתנה הסביבה לכתובת ה-DB
          env:
            - name: DB_HOST
              value: {{ .Values.config.DB_HOST | default "mysql" | quote }}
          # 2. טעינת שאר הסודות (סיסמא וכו')
          envFrom:
            - secretRef:
                name: {{ .Values.env.secretName }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}