trigger:
- main

pool:
  name: 'my-pool'

variables:
  imageRepository: '213daniel/flask-app'
  tag: '$(Build.BuildId)'
  # תיקון הקונטקסט ברמת המשתנים
  DOCKER_CONTEXT: 'default'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build and Push Image
      # הזרקת משתנה הסביבה ישירות למשימה
      env:
        DOCKER_CONTEXT: default
      inputs:
        containerRegistry: 'DockerHub'
        repository: $(imageRepository)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy to K8s
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: Deploy
    steps:
    - task: HelmDeploy@0
      displayName: Helm Upgrade
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceConnection: 'azure-devops'
        command: 'upgrade'
        chartType: 'FilePath'
        chartPath: 'helm' 
        releaseName: 'flask-app'
        overrideValues: 'image.tag=$(tag)'
        valueFile: 'helm/values.yaml'