trigger:
- main

pool:
  name: 'my-pool' # שם ה-Pool שהגדרת

variables:
  imageRepository: '213daniel/flask-app'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build and Push Image
      inputs:
        containerRegistry: 'docker-hub-conn' # ודא שזה השם של ה-Service Connection ל-DockerHub
        repository: $(imageRepository)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy to K8s
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: Deploy
    steps:
    - task: HelmDeploy@0
      displayName: Helm Upgrade
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceConnection: 'k8s-conn' # ודא שזה השם של ה-Connection לקלאסטר שלך
        command: 'upgrade'
        chartType: 'FilePath'
        chartPath: 'helm' # הנתיב לתיקיית ה-Chart שלך
        releaseName: 'flask-app'
        overrideValues: 'image.tag=$(tag)'
        valueFile: 'helm/values.yaml'