trigger:
  batch: true  # חשוב מאוד כשזה סרוויס כדי שלא ייווצר "פקק" של תהליכים
  branches:
    include:
    - main

pool:
  name: 'my-pool'

variables:
  imageRepository: '213daniel/flask-app'
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    steps:
    - task: Docker@2
      displayName: Build and Push
      # הוספת continueOnError עוזרת להתגבר על שגיאת ה-EBUSY במחיקת ה-config.json
      continueOnError: true 
      inputs:
        containerRegistry: 'DockerHub'
        repository: $(imageRepository)
        command: 'buildAndPush'
        Dockerfile: 'app/Dockerfile' # נתיב ישיר עדיף על wildcard בסרוויס
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy to K8s
  dependsOn: Build
  jobs:
  - job: Deploy
    steps:
    - task: HelmDeploy@0
      displayName: Helm Upgrade
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceConnection: 'azure-devops'
        command: 'upgrade'
        chartType: 'FilePath'
        chartPath: 'helm/my-daniel-chart' 
        releaseName: 'flask-app'
        # הוספת גרשיים סביב ה-repository כדי למנוע טעויות parse של ה-Service
        overrideValues: 'image.repository="$(imageRepository)",image.tag=$(tag)'
        arguments: '--install'