trigger:
  batch: true          # מונע הצפה - מריץ רק pipeline אחד כל פעם
  branches:
    include:
    - main
  paths:
    include:           # מריץ רק כשמשנים קבצים רלוונטיים
    - app/*
    - helm/*
    - azure-pipelines.yml

pool:
  name: 'my-pool'

variables:
  imageRepository: '213daniel/flask-app'
  tag: '$(Build.BuildId)'
  DOCKER_CONTEXT: 'default'

stages:
- stage: Build
  displayName: Build and Push
  jobs:
  - job: Build
    displayName: Build
    steps:
    - task: Docker@2
      displayName: Build and Push Image
      env:
        DOCKER_CONTEXT: default
      inputs:
        containerRegistry: 'DockerHub'
        repository: $(imageRepository)
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'
        tags: |
          $(tag)
          latest

- stage: Deploy
  displayName: Deploy to K8s
  dependsOn: Build
  jobs:
  - job: Deploy
    displayName: Deploy
    steps:
    - task: HelmDeploy@0
      displayName: Helm Upgrade
      inputs:
        connectionType: 'Kubernetes Service Connection'
        kubernetesServiceConnection: 'azure-devops'
        command: 'upgrade'
        chartType: 'FilePath'
        chartPath: 'helm/my-daniel-chart' 
        releaseName: 'flask-app'
        # שימוש בגרשיים כאן פותר את שגיאת ה-InvalidImageName
        overrideValues: 'image.repository="$(imageRepository)",image.tag=$(tag)'
        valueFile: 'helm/my-daniel-chart/values.yaml'
        arguments: '--install --wait'